$blue-100: #dce5fb;
$blue-90: #b9ccf8;
$blue-80: #96b3f5;
$blue-70: #7399f2;
$blue-60: #5080ef;
$blue-50: #2e61ec;
$blue-40: #2758ca;
$blue-30: #2049a8;
$blue-20: #1a3a86;
$blue-10: #132c65;
$blue-0: #0d1d43;

$white-100: #ffffff;

$green-100: #d7f5e5;
$green-90: #b0eccc;
$green-80: #89e3b3;
$green-70: #62d999;
$green-60: #3bd080;
$green-50: #14c767;
$green-40: #11aa58;
$green-30: #0e8e49;
$green-20: #0b713a;
$green-10: #08552c;
$green-0: #05381d;

$red-100: #f2a0a0;
$red-90: #f08d8d;
$red-80: #ed7a7a;
$red-70: #eb6767;
$red-60: #e85454;
$red-50: #e64141;
$red-40: #cf3a3a;
$red-30: #b83434;
$red-20: #a12d2d;
$red-10: #8a2727;
$red-0: #732020;

$orange-100: #f9cbb0;
$orange-90: #f7c0a0;
$orange-80: #f6b690;
$orange-70: #f5ab80;
$orange-60: #f4a170;
$orange-50: #f39761;
$orange-40: #da8757;
$orange-30: #c2784d;
$orange-20: #aa6943;
$orange-10: #915a3a;
$orange-0: #794b30;

$lightblue-100: #a2d4f6;
$lightblue-90: #8acaf4;
$lightblue-80: #73bff2;
$lightblue-70: #5cb5f0;
$lightblue-60: #45aaee;
$lightblue-50: #2ea0ec;
$lightblue-40: #288ed1;
$lightblue-30: #237cb7;
$lightblue-20: #1e6a9d;
$lightblue-10: #195883;
$lightblue-0: #144768;

$gray-100: #f6f7f9;
$gray-90: #f3f4f7;
$gray-80: #f0f1f5;
$gray-70: #edeff3;
$gray-60: #eaecf1;
$gray-50: #e4e7ed;
$gray-40: #cacdd2;
$gray-30: #b1b3b8;
$gray-20: #989a9e;
$gray-10: #7e8083;
$gray-0: #656669;
