$blue-50: #2e61ec;

// $primary-hover: #5498ff;

$secondary: #ffffff;
// $secondary-hover: #f0f0f0;

$green-50: #14c767;
// $success-hover: #4be091;

$red-50: #e64141;
// $danger-hover: #e77070;

$orange-50: #f39761;
// $warn-hover: #f8b58e;

$lightblue-50: #2ea0ec;
// $info-hover: #5baee5;

// $disabled: #e4e7ed;
