@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:host {
  --aw-button-primary-color: #ffffff;
  --aw-button-primary-background: #2e61ec;
  --aw-button-primary-background-hover: #5498ff;

  --aw-button-secondary-color: #5e5e5e;
  --aw-button-secondary-border-color: #c8c8c8;
  --aw-button-secondary-background: #ffffff;
  --aw-button-secondary-background-hover: #ffffff;

  --aw-button-success-color: #ffffff;
  --aw-button-success-background: #14c767;
  --aw-button-success-background-hover: #4be091;

  --aw-button-danger-color: #ffffff;
  --aw-button-danger-background: #e64141;
  --aw-button-danger-background-hover: #e77070;

  --aw-button-warn-color: #ffffff;
  --aw-button-warn-background: #f39761;
  --aw-button-warn-background-hover: #f8b58e;

  --aw-button-info-color: #ffffff;
  --aw-button-info-background: #2ea0ec;
  --aw-button-info-background-hover: #5baee5;

  --aw-button-outline-color: #2e61ec;
  --aw-button-outline-color-hover: #5498ff;
}

button {
  font-family: 'Open Sans', sans-serif;
  border: none;
  padding: 18px 25px;
  font-size: 15px;
  outline: none;
  transition: 150ms ease-in;
  cursor: pointer;
  border-radius: 5rem;
  text-transform: uppercase;
}

/* status */
.primary {
  background: var(--aw-button-primary-background);
  color: var(--aw-button-primary-color);
}
.primary:hover {
  background: var(--aw-button-primary-background-hover);
}

.secondary {
  border: 1px solid var(--aw-button-secondary-border-color);
  background: var(--aw-button-secondary-background);
  color: var(--aw-button-secondary-color);
}
.secondary:hover {
  background: var(--aw-button-secondary-background-hover);
}

.success {
  background: var(--aw-button-success-background);
  color: var(--aw-button-success-color);
}
.success:hover {
  background: var(--aw-button-success-background-hover);
}

.danger {
  background: var(--aw-button-danger-background);
  color: var(--aw-button-danger-color);
}
.danger:hover {
  background: var(--aw-button-danger-background-hover);
}

.warn {
  background: var(--aw-button-warn-background);
  color: var(--aw-button-warn-color);
}
.warn:hover {
  background: var(--aw-button-warn-background-hover);
}

.info {
  background: var(--aw-button-info-background);
  color: var(--aw-button-info-color);
}
.info:hover {
  background: var(--aw-button-info-background-hover);
}

.outline {
  color: var(--aw-button-outline-color);
}
.outline:hover {
  color: var(-aw-button-outline-color-hover);
}
