@mixin componentStatus() {
  --status-primary: 'primary';
  --status-secondary: 'secondary';
  --status-success: 'success';
  --status-danger: 'danger';
  --status-warn: 'warn';
  --status-info: 'info';
}
