@mixin componentLightThemeVars() {
  --anywhere-primary: #{$blue-50};
  --anywhere-primary-border-1: #{$white-100};
  --anywhere-primary-border-2: #{$blue-90};
  --anywhere-primary-towhite: #{$bluegray-50};
  --anywhere-primary-gradient-1: #{$blue-50};
  --anywhere-primary-gradient-2: #{$blue-70};
  --anywhere-primary-text-color: #{$white-100};
  --anywhere-primary-hover: #{$blue-60};

  --anywhere-secondary: #{$white-100};
  --anywhere-secondary-border-1: #{$white-100};
  --anywhere-secondary-border-2: #{$gray-90};
  --anywhere-secondary-gradient-1: #{$white-100};
  --anywhere-secondary-gradient-2: #{$gray-50};
  --anywhere-secondary-text-color: #{$gray-10};
  --anywhere-secondary-hover: #{$gray-100};
  --anywhere-secondary-hover-border: #{$gray-20};

  --anywhere-success: #{$green-50};
  --anywhere-success-towhite: #{$greengray-50};
  --anywhere-success-border-1: #{$white-100};
  --anywhere-success-border-2: #{$green-90};
  --anywhere-success-gradient-1: #{$green-50};
  --anywhere-success-gradient-2: #{$green-80};
  --anywhere-success-text-color: #{$white-100};
  --anywhere-success-hover: #{$green-60};

  --anywhere-danger: #{$red-50};
  --anywhere-danger-towhite: #{$redgray-50};
  --anywhere-danger-border-1: #{$white-100};
  --anywhere-danger-border-2: #{$red-90};
  --anywhere-danger-gradient-1: #{$red-50};
  --anywhere-danger-gradient-2: #{$red-80};
  --anywhere-danger-text-color: #{$white-100};
  --anywhere-danger-hover: #{$red-70};

  --anywhere-warn: #{$orange-50};
  --anywhere-warn-towhite: #{$orangegray-50};
  --anywhere-warn-border-1: #{$white-100};
  --anywhere-warn-border-2: #{$orange-90};
  --anywhere-warn-gradient-1: #{$orange-50};
  --anywhere-warn-gradient-2: #{$orange-70};
  --anywhere-warn-text-color: #{$white-100};
  --anywhere-warn-hover: #{$orange-70};

  --anywhere-info: #{$lightblue-50};
  --anywhere-info-towhite: #{$lightbluegray-50};
  --anywhere-info-border-1: #{$white-100};
  --anywhere-info-border-2: #{$lightblue-90};
  --anywhere-info-gradient-1: #{$lightblue-50};
  --anywhere-info-gradient-2: #{$lightblue-80};
  --anywhere-info-text-color: #{$white-100};
  --anywhere-info-hover: #{$lightblue-70};

  --anywhere-disabled: #{$gray-50};
  --anywhere-disabled-text-color: #{$gray-20};
}
