name: Deploy to CDN

on:
  push:
    branches: [master, develop]

jobs:
  deploy:
    name: Build and distribute
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"

    steps:
      - uses: actions/checkout@v2
      - name: Log environments
        run: |
          echo "Logging GitHub environments"
          echo "Branch" ${GITHUB_REF##*/}
          echo "GITHUB_REPOSITORY_NAME_SLUG" ${GITHUB_REPOSITORY_NAME_SLUG}
          echo "GITHUB_REF" ${GITHUB_REF}
          echo "GITHUB_REF_NAME" ${GITHUB_REF_NAME}
          echo "GITHUB_REF_NAME_SLUG" ${GITHUB_REF_NAME_SLUG}
          echo "GITHUB_REF_SLUG" ${GITHUB_REF_SLUG}

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
      - run: ./scripts/check-file.sh
        env:
          CI: true
          FILE: ./dist/anywhere-webcomponents/anywhere-webcomponents.js

      - name: NPM Publish
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
        if: steps.publish.type != 'none'
        run: |
          echo "Version changed: ${{ steps.publish.outputs.old-version }} => ${{ steps.publish.outputs.version }}"

      - name: CDN deploy
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_SECRET_KEY }}
          aws-region: sa-east-1
        run: |
          aws s3 sync dist s3://cdn.tiagoboeing.com/anywhere-webcomponents/${GITHUB_REF##*/} --delete
          aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DIST_ID }} --paths "/anywhere-webcomponents/${GITHUB_REF##*/}/*"

      - name: Copy to S3
      - run: aws s3 sync dist s3://cdn.tiagoboeing.com/anywhere-webcomponents/${GITHUB_REF##*/} --delete
      - name: Invalidate cache on CloudFront
      - run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DIST_ID }} --paths "/anywhere-webcomponents/${GITHUB_REF##*/}/*"
