name: Manual versioning

on:
  pull_request:
    branches:
      - master
      - develop
      - tags

  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
        description: "Version to generate (major|minor...)"
        # Default value if no value is explicitly provided
        default: "snapshot"
        # Input has to be provided for the workflow to run
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  test:
    runs-on: ubuntu-latest

    steps:
      # Runs a single command using the runners shell
      - name: Echo version passed
        run: echo "Generate a ${{ github.event.inputs.name }} version"

      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@master
        run: |
          echo "package.json version ${{steps.package-version.outputs.current-version}}"
