@import '../../scss/includes/components';

:host {
  display: block;
}

#wrapper {
  display: flex;
  flex-direction: row;
  padding: 3px;

  #avatar {
    ::slotted(aw-avatar) {
      width: 30px;
    }
  }
}
