@import '../../scss/includes/components';

:host {
  @extend %component-host;
}

// sizes
:host([size='large']) {
  #label {
    font-size: $font-size-base;
  }

  #avatar::slotted(aw-avatar) {
    width: 40px;
    height: 40px;
  }

  slot > aw-avatar {
    background: red !important;
    width: 150px !important;
  }
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;

  #label {
    font-size: $font-size-base;
    margin-left: 13px;
  }
}
